doctype html
html
	head
		link(rel="shortcut icon" href="http://s3.jzez100.com/s1/web-jzez/asset/Logo_16X16.ico" type="image/x-icon")
		meta(charset="utf-8")
		meta(name="baidu-site-verification" content="wplMRybW9I")
		title !{seoInfo.title}
		meta(name="apple-mobile-web-app-capable",content="yes")
		meta(name="full-screen", content="true")
		meta(name="screen-orientation", content="portrait")
		meta(name="x5-fullscreen", content="true")
		meta(name="360-fullscreen", content="true")
		meta(name="renderer", content="webkit")
		meta(http-equiv="Cache-Control", content="no-siteapp")
		meta(name="format-detection", content="telephone=no")
		meta(name="keywords", content=seoInfo.keywords)
		meta(name="description", content=seoInfo.desc)
		meta(http-equiv="X-UA-Compatible" ,content="IE=edge,chrome=1" )
		meta(name="baidu-site-verification" ,content="u116RtawF3" )
		meta(name="360-site-verification" ,content="54b026491ba9aebf61960b9deebc606b" )
		meta(name="apple-mobile-web-app-capable" ,content="yes" )
		meta(name="apple-mobile-web-app-status-bar-style", content="black" )
		meta(name="baidu-site-verification" ,content="MvKB9BhxlG" )
		meta(name="360-site-verification" ,content="b54f07f0b2b7bc6f54529f3e415a7710" )
		meta(name="sogou_site_verification" ,content="hXiIic0UcK")
		meta(name="shenma-site-verification" ,content="eafe24af38ad7efbbfed97cf4ec6dcf2_1452762122")
		script.
			window.__REDUX_STATE__ = !{reduxState}
		link(href='/app.css?v=' + version, rel='stylesheet', charset='utf-8', media='screen')
	body
		div#app !{html}
	script(src='/vendor.js?v='+ version, charset='utf-8')
	script(src='/app.js?v='+ version, charset='utf-8')
			
	